<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alcohol Study -- Instructions.</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="row col-md-offset-4">
            <h1>Non-focal Individuals</h1>
        </div>
        <div style="height: 10px;"></div>
        <div class="col-md-4 col-md-offset-2">
            <img src="{{ d['picture_name'] }}"
                 class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <div class="lead">
                This photo contains
                <strong> {{ d['unfocused_people'] }} </strong>
                individuals who are in the
                background
                and are not really looking in the direction of the camera.
                <div style="height: 20px;"></div>
                Please indicate how many of these
                individuals fall into the following categories.
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-6 col-md-4">
                <div style="height: 25px;"></div>
                <form name="instructions" action="{{ url_for('survey') }}"
                      method="post"
                      class="form-horizontal">
                    <input name="subject_id" type="hidden"
                           value="{{ d['subject_id'] }}">
                    <input name="focused_people" type="hidden"
                           value="{{ d['focused_people'] }}">
                    <input name="unfocused_people" type="hidden"
                           value="{{ d['unfocused_people'] }}">
                    <input name="picture_name" type="hidden"
                           value="{{ d['picture_name'] }}">
                    <input name="nfSurvey" value="nfSurvey" type="hidden">

                    <input type="submit" value="Okay!" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>